/* Selector berdasarkan tag */
h1 {
  color: #2d89ef;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* Selector berdasarkan class */
.highlight {
  background-color: #ffff99;
  font-weight: bold;
}

.list-biru {
  color: #0078d7;
}

/* Selector berdasarkan id */
#utama {
  border: 2px solid #2d89ef;
  padding: 16px;
  margin-bottom: 20px;
  background: #f3f9ff;
}